* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff9999;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
}

nav li {
    margin: 0 15px;
    display: block;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

.site-title {
    font-size: 1.5rem;
    margin-top: 10px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.showcase-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    max-width: calc(50% - 20px);
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    background-color: #222;
    color: #ffcc00;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.showcase-item:hover {
    background-color: #ffcc00;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: #222;
    transform: scale(1.05);
}

.description {
    max-height: 150px;
    overflow: auto;
    margin-top: 10px;
}

p {
    display: none;
}
/* for diffrent layout */
@media (max-width: 1024px) {
    .showcase-item {
        max-width: 100%;
    }
}

@media (min-width: 601px) {
    body {
        background-color: #99ff99;
    }

    .site-title {
        font-size: 2rem;
    }

    nav ul {
        justify-content: flex-start;
    }

    nav li {
        margin: 0 10px;
        display: inline;
    }

    p {
        display: none;
    }
}

@media (min-width: 1025px) {
    body {
        background-color: #9999ff;
    }

    nav ul {
        font-size: 1.5em;
    }

    .site-title {
        font-size: 3rem;
    }

    p {
        display: contents;
        /* only desktop screen will show the discription of movie */
    }
}
