body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #333;
    color: #58de8b;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Grid Styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 400px;
    width: 90%;
}



/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .grid-container {
        max-width: 100%;
    }
    
    .cell {
        background-color: #e65b5b;
        padding: 40px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        max-width: 600px;
    }
    .cell {
        background-color: #ff0000;
        padding: 60px;
    }
    h1 {
        font-size: larger;
    }
}

@media (min-width: 1025px) {
    .grid-container {
        max-width: 800px;
    }
    .cell {
        background-color: #2d7754;
        padding: 70px;
       
    }
}
