/* 
Name:Dhruv Patel
ID:0827802
Assignment-2 */


/* Mobile Styles because it is mobile first approch mentioned in pdf */

header, main {
  margin: auto;
}
body {
  background: #ccfcff; /* Unique color for mobile devices */
  font-family: Arial, sans-serif;
  color: #333; 
}

h1 {
  font-size: 1.5em; /* Shrink the heading for mobile devices */
  color: #444; 
}

h2 {
  font-size: 1.2em; /* Shrink the subheading for mobile devices */
  color: #555; 
}

nav {
  font-size: 0.9em;
}

nav a {
  display: block;
  margin: 10px 0;
}

/* Tablet Styles */
@media screen and (min-width: 601px) {
  body {
    background: #ccccff; /* Unique color for tablet devices */
  }

  h1 {
    font-size: 2em; /* Adjust heading size for tablets */
    color: #a00b0b; 
  }

  h2 {
    font-size: 1.5em; /* Adjust subheading size for tablets */
    color: #a00b0b;
  }

  nav {
    font-size: 1.1em;
  }

  nav a {
    display: inline-block;
    margin: 0 10px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1025px) {
  body {
    background: #ccffcc; /* Unique color for desktop devices */
  }

  h1 {
    font-size: 3em;
    color: #690569; /* Heading color for desktop devices */
  }

  h2 {
    font-size: 2em;
    color: #690569; /* Subheading color for desktop devices */
  }
}


/* for smaller screen it create three column layout */
/* added this after instructor permission */
@media screen and (max-width: 1024px) {
  #characteristics ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
  }

  #characteristics ul li {
    flex: 1; 
    margin: 5px;
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 5px; 
  }
}


/* Footer Styles */
footer {
  background: #333; 
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Footer text style */
footer p {
  margin: 0;
  font-size: 0.8em;
}


